@import '/src/Themes/theme.scss';

.controls-container {
  width: 100%;
  display: flex;
  gap: 20px;
}
@media (min-width: map-get($breakpoints, 'mobile')) {
  .country-card-grid {
    justify-items: center;
  }
  .controls-container {
    flex-direction: column;
  }
}
@media (min-width: map-get($breakpoints, 'tablet')) {
  .controls-container {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: map-get($breakpoints, 'desktop')) {
  .country-card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}
