.theme-toggle {
  border-radius: 5px;
  border: hidden;
  height: 20px;
  width: 100px;
  color: var(--text-color);
  background-color: var(--elements-color);
  font-weight: 600;
  cursor: pointer;
}
